<html ng-app="mainApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
        <script src="httpServices.js"></script>
    </head>
    <body>
        <div ng-controller="peopleCtrl">
           
            <ul><h2> Name and age of programmer in Vastika </h2>
                
                <li ng-repeat="person in persons |filter:searchBox">
                    {{ $index+1 +" :"+person.Name+ " : "+ person.age +" : "+ person.fav_color }}
                </li>
            </ul>
        </div>
        All Search <input type="text" ng-model="searchBox.$"><br>
        Name <input type="text" ng-model="searchBox.Name"><br>
         Age <input type="text" ng-model="searchBox.age"><br>
          Fav-Color <input type="text" ng-model="searchBox.fav_color"><br>
          <hr>
          <br>
          <div ng-controller="randomController">
              <span>
                  {{ myRandomNumber }}
              </span>
              
              <input type="button" value="Create New Button"/>
          </div>
    </body>
</html>
